.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.input-group input {
  width: 3rem;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  background-color: #8a2b06;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-button:hover,
.add-button:active {
  background-color: #641e03;
  transform: scale(1.05);
}
