.button {
    font: inherit;
    cursor: pointer;
    background-color: #4d1601;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    display: flex;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: #2c0d00;
  }
  
  .badge {
    background-color: #b94517;
    padding: 0.25rem 0.75rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
  